body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #2f2f2f;
  color: white;
  margin: 0;
  padding: 20px;
}

button {
  background-color: #279e2b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.message {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.success {
  color: #d6d6d6;
}

.error {
  color: #f44336;
}
.user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.user-card {
  background-color: #3f3f3f;
  border-radius: 10px;
  width: 240px;
  margin: 10px;
  padding: 15px;
}

.user-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.user-info {
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
}
